---
layout: site
title: Solo Game Reports
---

<p>The write-ups from a bunch of solo table-top roleplaying games that I have played. Each game is a little different and each write-up is too. How I play and how I record things changes over time. Some of these are transcribed from notebooks with a little editing, others were typed up as I played.</p>

<div class="report-lists">

<div id="oneshots-list">
{% include reports_by_oneshot.html %}
</div>
  
<div id="series-list">
{% include reports_by_series.html %}
</div>

</div>
