{% if page.series %}
  {% assign episodes = site.reports | where_exp:"report","report.series" %}
  {% assign series = episodes | where:"series.title",page.series.title %}
  <nav class="pagination">
    {% assign prevNum = page.series.num | minus:1 %}
    {% assign previous = series | where:"series.num",prevNum | first %}
    {% if previous %}
      <a href="{{ previous.url | relative_url }}" class="pagination--pager" title="{{ previous.title | markdownify | strip_html }}">Previous</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">Previous</a>
    {% endif %}
    
    {% assign nextNum = page.series.num | plus:1 %}
    {% assign next = series | where:"series.num",nextNum | first %}
    {% if next %}
      <a href="{{ next.url | relative_url }}" class="pagination--pager" title="{{ next.title | markdownify | strip_html }}">Next</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">Next</a>
    {% endif %}
  </nav>
{% else %}
  <!-- Not part of a series -->
{% endif %}
