{% assign oneshots = site.reports | where_exp:"i", "i.series == nil" %}

{% for r in oneshots %}
  {% assign system = site.data.systems[r.system].title | default: r.game.title | default: r.title %}

<section class="oneshot">
  <h2 class="oneshot-title"><a href="{{ r.url | relative_url }}">{{ r.title | smartify }}</a></h2>
  <p class="materials">
    <i class="fa fa-gear" aria-hidden="true" title="System"></i> {{ system }}
    {% if r.read_time %}
      {% assign words_per_minute = site.words_per_minute | default: 200 %}
      {% assign words = r.content | strip_html | number_of_words %}
      <span class="page__meta-sep"></span>
      <i class="far fa-clock" aria-hidden="true" title="Time to read"></i>
        {% if words < words_per_minute %}less than 1
        {% elsif words == words_per_minute %}1
        {% else %}{{ words | divided_by: words_per_minute }}
        {% endif %} minute read
    {% endif %}
    {% if r.adventure %}
      <span class="page__meta-sep"></span>
      <i class="fa fa-book" aria-hidden="true" title="Adventure"></i> {{ r.adventure.title }}
    {% endif %}
  </p>
  {% if r.description %}<div class="oneshot-desc">{{ r.description | markdownify }}</div>{% endif %}
</section>

{% endfor %}
