
{% assign with_systems = site.reports | where_exp:"i", "i.system" %}
{% assign system_map = with_systems | group_by: "system" %}
{% for s in system_map %}
<h2>{{ s.name }}</h2>

{% assign multiples = s.items | where_exp:"i", "i.series" %}
{% assign series_map = multiples | group_by: "series.title" %}
{% for s in series_map %}
  {% assign ordered_reports = s.items | sort: "series.num" %}
{% assign pilot = ordered_reports[0] %}
<h3><a href="{{ pilot.url | relative_url }}">{{ s.name | smartify }}</a></h3>
<p>{{ pilot.series.description | markdownify }}</p>
<ul>
  {% for r in ordered_reports %}
  <li><a href="{{ r.url | relative_url }}">Part {{ r.series.num }}: {{ r.title | smartify }}</a>. {{ r.summary | markdownify }}</li>
  {% endfor %}
</ul>
{% endfor %}

{% assign oneshots = s.items | where_exp:"i", "i.series == nil" %}
{% for r in oneshots %}
<h3><a href="{{ r.url | relative_url }}">{{ r.title | smartify }}</a></h3>
<p>{{ r.summary | markdownify }}</p>
{% endfor %}

{% endfor %}

{% assign systemless = site.reports | where_exp:"i", "i.system == nil" %}
{% if systemless %}
<h2>Others</h2>
{% for r in systemless %}
<h3><a href="{{ r.url | relative_url }}">{{ r.title | smartify }}</a></h3>
<p>{{ r.summary | markdownify }}</p>
{% endfor %}
{% endif %}
