{% assign series_dict = site.reports | where_exp:"i", "i.series" | group_by:"series.title" %}



{% for s in series_dict %}
{% assign eps = s.items | sort:"series.num" %}
{% assign system = site.data.systems[eps.first.system].title %}

<section class="series">
  <h2 class="series-title">{{ s.name | smartify }}</h2>
  <p class="series-system">{{ system }}</p>
  <div class="series-desc">{{ eps.first.series.description | markdownify }}</div>
{% if eps.last.series.finished %}<p>This series is complete.</p>{% endif %}
  
  <div class="episode-list">
{% for e in eps %}
   <section class="episode">
    <h3 class="episode-title"><a href="{{ e.url | relative_url }}">Part {{ e.series.num }} &mdash; {{ e.title }}</a></h3>
    <!--adventure-->{% if e.adventure %}<p class="episode-module">{{ e.adventure.title }}</p>{% endif %}
    <!--summary--><div class="episode-desc">{{ e.summary | markdownify }}</div>
   </section>
{% endfor %}
 </div>
</section>

{% endfor %}
