{% assign series_dict = site.reports | where_exp:"i", "i.series" | group_by:"series.title" %}



{% for s in series_dict %}
{% assign eps = s.items | sort:"series.num" %}
{% assign system = site.data.systems[eps.first.system].title %}

<section class="series">
  <h2 class="series-title">{{ s.name | smartify }}</h2>
  <p class="materials">
    <i class="fa fa-gear" aria-hidden="true" title="System"></i> {{ system }}
    <span class="page__meta-sep"></span>
    <i class="fa fa-pen" title="Writing status"></i> {% if eps.last.series.finished %} Series Complete {% else %} In Progress {% endif %}
  </p>
  <div class="series-desc">{{ eps.first.series.description | markdownify }}</div>
  
  <div class="episode-list">
{% for e in eps %}
   <section class="episode">
    <h3 class="episode-title"><a href="{{ e.url | relative_url }}">Part {{ e.series.num }} &mdash; {{ e.title }}</a></h3>
  {% if e.read_time or e.adventure %}
    <p class="materials">
    {% if e.read_time %}
      {% assign words_per_minute = site.words_per_minute | default: 200 %}
      {% assign words = e.content | strip_html | number_of_words %}
      <i class="far fa-clock" aria-hidden="true" title="Time to read"></i>
        {% if words < words_per_minute %}less than 1
        {% elsif words == words_per_minute %}1
        {% else %}{{ words | divided_by: words_per_minute }}
        {% endif %} minute read
        {% if e.adventure %}<span class="page__meta-sep"></span>{% endif %}
    {% endif %}
    <!--adventure-->{% if e.adventure %}<i class="fa fa-book" aria-hidden="true" title="Adventure"></i> {{ e.adventure.title }}{% endif %}
    </p>
  {% endif %}
    <!--summary-->{% if e.description %}<div class="episode-desc">{{ e.description | markdownify }}</div>{% endif %}
   </section>
{% endfor %}
 </div>
</section>

{% endfor %}
