{% if page.system or page.adventure or page.series %}
  <div class="sidebar sticky">
    {% if page.series %}
    <h2>Part {{page.series.num}} of<br/><i>{{page.series.title}}</i></h2>
    {% endif %}
    
    {% if page.adventure %}
    <p>Playing <i>{{ page.adventure.title }}</i> by {{ page.adventure.author }}.</p>
    {% else %}
    <p>An improvised adventure.</p>
    {% endif %}
    
    {% if page.system %}
    <p>Tools and supplements used:</p>
    <ul>
      {% assign system = site.data.systems[page.system] %}
      <li><b>{% if system %}{{ system.title }}{% else %}{{ page.system }}{% endif %}</b></li>
      {% if page.supplements %}
        {% for s in page.supplements %}
          {% assign system = site.data.systems[s] %}
      <li>{% if system %}{{ system.title }}{% else %}{{ s }}{% endif %}</li>
        {% endfor %}
      {% endif %}
    </ul>
    {% endif %}
  </div>
{% endif %}
